@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;1,300;1,400&family=Noto+Serif+Khojki:wght@400;500&family=Poppins:wght@300;400;500&display=swap');

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Noto Serif Khojki', serif;
font-family: 'Poppins', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: #2a0317;
    --white: #f5f5f5;
    --blue: #07A3EE;
}

body {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #2da9b5df;
    width: 100vw;
    height: 3rem;
    display: flex;
    position: fixed;
    align-items: center;
    padding-left: 1rem;
    color: var(--white);
    font-family: 'Poppins', serif;
    font-weight: 500;
    letter-spacing: 0.7px;
    cursor: default;
    z-index: 10;
}

.main-container {
    width: 100vw;
    margin-top: 2.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.side {
    width: 36rem;
    display: flex;
    margin-top: 1.2rem;
    padding-bottom: 4rem;
    flex-direction: column;
    align-items: center;
}

.side .title {
    border: 2px solid var(--blue);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

.side .title span {
    color: var(--blue);
}

.side img {
    width: 26rem;
    margin: 2rem 0;
}

main {
    width: 48rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Barlow', sans-serif;
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 8rem;
}

main .main-sub-container {
    margin-top: 4rem;
    width: 80%;
    padding: 2rem 2rem;
    border-radius: 33px;
    background: linear-gradient(145deg, #ffffff, #d8d8d8);
    box-shadow: 5px 5px 8px #cecece,
        -5px -5px 8px #fcfcfc;
}

main .main-sub-container .add-user-title {
    cursor: default;
    padding: 0.2rem 0;
    font-size: 1.1rem;
}

main .main-sub-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 0 !important;
    background: #6C757D;
    background-image: none;
    padding: 0.42rem 0.5rem;
    flex: 1;
    font-size: 1.04rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

main .main-sub-container select::-ms-expand {
    display: none;
}

main .main-sub-container .select {
    position: relative;
    display: flex;
    width: 18rem;
    margin-right: 0.25rem;
    background: #5C6664;
    overflow: hidden;
    border-radius: 0.25rem;
    transform: all 0.8s ease;
}

main .main-sub-container .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.64rem 0.8rem;
    color: #fff;
    background-color: #2B2E2E;
    cursor: pointer;
    pointer-events: none;
    transform: all 0.8s ease;
}

main .main-sub-container .select:hover::after {
    color: var(--blue);
}

main .main-sub-container .operation {
    margin-top: 3rem;
    display: flex;
}

main .main-sub-container .operation input {
    margin: 0 0.25rem;
}

main .main-sub-container .add-task-section {
    margin-top: 1rem;
}

main .main-sub-container input:nth-child(1) {
    width: 24.6rem;
}

.result {
    width: 100vw;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
}

.result .result-container {
    width: 80%;
}

.result .result-container ul {
    margin: 2rem 1rem;
    cursor: pointer;
    padding: 1rem 1.8rem;
    border-radius: 31px;
    background: linear-gradient(145deg, #ffffff, #dddddd);
    box-shadow: 5px 5px 7px #d3d3d3,
        -5px -5px 7px #ffffff;
}

.result .result-container ul li {
    list-style: none;
    color: #1a202b;
    font-family: 'Poppins', sans-serif;
}

#footer {
    /* background-color: var(--dark); */
    /* position: relative; */
    margin-top: 25.2rem;
    /* box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2); */
    /* z-index: 5; */
}

#footer #joinNowContainer {
    width: 100%;
    height: 8rem;
    background-color: #715df2;
    display: flex;
    border-top: 2px solid #e6eff7;
    justify-content: space-around;
    align-items: center;
    cursor: default;
}

#footer #joinNowContainer .lineH {
    font-size: 2.2rem;
    color: whitesmoke;
    font-family: 'Satisfy', cursive;
}

#footer #joinNowContainer .lineF {
    font-size: 1rem;
    color: rgb(215, 217, 244);
    font-family: 'Montserrat', sans-serif;
}

#footer #joinNowContainer #joinNowBtn {
    width: 13rem;
    height: 3rem;
    border-radius: 10rem;
    font-family: 'Ysabeau', sans-serif;
    border: 2px solid rgb(215, 217, 244);
    font-size: 1.7rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

#footer #joinNowContainer #joinNowBtn:hover {
    background-color: #715df2;
    color: rgb(215, 217, 244);
    letter-spacing: 1px;
}



#footer #developed {
    background: rgb(0, 30, 64);
    text-align: center;
    color: white;
    font-family: 'Hind Madurai', sans-serif;
    padding: 0.3rem 0;
    /* padding-top: 21.2rem ; */
    cursor: default;
    user-select: none;
}

